<mat-toolbar color="primary" class="mat-elevation-z1">
  <mat-toolbar-row>
    <button (click)="sidenav.toggle()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    Angular Paris - Material
    <div class="spacer"></div>
    <button mat-icon-button [matMenuTriggerFor]="headerMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #headerMenu="matMenu">
      <button mat-menu-item (click)="toggleTheme()">
        <mat-icon color="primary">invert_colors</mat-icon>
        <span>Changer le thème</span>
      </button>
      <button mat-menu-item>
        <mat-icon color="warn">power_settings_new</mat-icon>
        <span>Se déconnecter</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over">
    <a (click)="sidenav.close()" [routerLink]="['/home']" mat-button>
      <mat-icon>home</mat-icon>
      <span class="link-text">Accueil</span>
    </a>
    <a (click)="sidenav.close()" [routerLink]="['/forms']" mat-button>
      <mat-icon>view_column</mat-icon>
      <span class="link-text">Formulaire 1</span>
    </a>
    <a (click)="sidenav.close()" [routerLink]="['/table']" mat-button>
      <mat-icon>grid_on</mat-icon>
      <span class="link-text">Table</span>
    </a>
    <a (click)="sidenav.close()" [routerLink]="['/popup']" mat-button>
      <mat-icon>aspect_ratio</mat-icon>
      <span class="link-text">Popup</span>
    </a>
    <a (click)="sidenav.close()" [routerLink]="['/snackbar']" mat-button>
      <mat-icon>info</mat-icon>
      <span class="link-text">SnackBar</span>
    </a>
    <a (click)="sidenav.close()" [routerLink]="['/chips']" mat-button>
      <mat-icon>label</mat-icon>
      <span class="link-text">Chips</span>
    </a>
  </mat-sidenav>
  <mat-sidenav-content>

    <div class="content">
      <router-outlet>
      </router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
