<mat-list>
  <h3 mat-subheader>Liens utils</h3>
  <mat-list-item>
    <mat-icon mat-list-icon><a target="_blank" href="https://material.io/icons/" >link</a></mat-icon>
    <h4 mat-line>https://material.io/icons/</h4>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon><a target="_blank" href="https://material.angular.io/" >link</a></mat-icon>
    <h4 mat-line>https://material.angular.io/</h4>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon><a target="_blank" href="https://material.io/color/" >link</a></mat-icon>
    <h4 mat-line>https://material.io/color/</h4>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon><a target="_blank" href="https://github.com/Seloris/meetup-material" >link</a></mat-icon>
    <h4 mat-line>https://github.com/Seloris/meetup-material</h4>
  </mat-list-item>
</mat-list>
