<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <form #filterForm="ngForm">
    <mat-form-field>
      <input matInput name="category" ngModel placeholder="Rechercher une catégorie">
    </mat-form-field>
  </form>

  <mat-slide-toggle color="primary" [(ngModel)]="isReverse">
    Inverser les colonnes
  </mat-slide-toggle>


  <mat-table #table [dataSource]="dataSource" class="example-table" matSort matSortActive="category" matSortDisableClear matSortDirection="asc">

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Composant</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef>Catégorie</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.category }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="moduleImport">
      <mat-header-cell *matHeaderCellDef>Import Module</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <pre class="import">{{ row.moduleImport }}</pre>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [length]="resultsLength" [pageSize]="5" [pageSizeOptions]="[2,5,10,25]">
  </mat-paginator>
</div>
