/* Structure from https://material.angular.io/components/table/examples */

.example-container {
    display: flex;
    flex-direction: column;
    max-height: 700px;
    min-width: 300px;
    position: relative;
    mat-form-field {
        margin: 0 24px;
        max-width: 300px;
    }
    pre.import {
        font-size: 0.8em;
        color: rgb(102, 102, 102);
    }
}

.example-header {
    min-height: 64px;
    display: flex;
    align-items: center;
    padding-left: 24px;
    font-size: 20px;
}

.example-table {
    overflow: auto;
    min-height: 300px;
}

.example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Column Widths */

.mat-column-moduleImport {
    flex: 2;
}
